<td><%= link_to 'Show', squad_squad_member_url %></td>
<td><%= link_to 'Edit', edit_squad_squad_member_path(squad_member) %></td>
<td><%= link_to 'Destroy', squad_squad_member(squad_member), method: :delete, data: { confirm: 'Are you sure?' } %></td>
