<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.display_name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
