<p id="notice"><%= notice %></p>

<h1>TeamRole</h1>

<p>
  <strong>Display Name:</strong>
  <%= @team_role.display_name %>
</p>

<%= link_to 'Edit', edit_team_role_path(@team_role) %> |
<%= link_to 'Back', team_roles_path %>
